{{ form_start(form) }}
    {{ form_widget(form) }}
    <div>
		<div class="row my-2">

			<div class="col-12 text-end">
				<a class="btn btn-secondary" href="{{ path('secure_crud_social_network_index')}}">Regresar</a>

				<button class="btn btn-success">Guardar</button>
			</div>
		</div>
	</div>
{{ form_end(form) }}
