# In all environments, the following files are loaded if they exist,
# the latter taking precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#  * .env.local          uncommitted file with local overrides
#  * .env.$APP_ENV       committed environment-specific defaults
#  * .env.$APP_ENV.local uncommitted environment-specific overrides
#
# Real environment variables win over .env files.
#
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.
#
# Run "composer dump-env prod" to compile .env files for production use (requires symfony/flex >=1.2).
# https://symfony.com/doc/current/best_practices.html#use-environment-variables-for-infrastructure-configuration

###> symfony/framework-bundle ###
# Define the environment for the App APP_ENV=dev or APP_ENV=prod

APP_ENV=

# APP_SECRET = Set a code for example cf540ebaed33fd9b75b8d92cf05ffdec

APP_SECRET=

###< symfony/framework-bundle ###

# Set a code for example JWT_KEY=cf540ebaed33fd9b75b8d92cf05ffdec
JWT_KEY=

###> symfony/mailer ###

#Replace capital words with data from your smtp server
# MAILER_DSN=smtp://EMAIL:PASSWORD@SERVIDOR_SMTP:PUERTO_SMTP
MAILER_DSN=

#EMAIL_FROM=example@example.com
#EMAIL_ERROR=example@example.com

###< symfony/mailer ###

###> doctrine/doctrine-bundle ###


# Format described at https://www.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url
# IMPORTANT: You MUST configure your server version, either here or in config/packages/doctrine.yaml
#
# Replace capital words with values from your server database for example
# DATABASE_URL=postgresql://USUARIO:PASSWORD@SERVIDOR_DE_BASE_DE_DATOS:PUERTO/NOMBRE_DE_LA_TABLA
DATABASE_URL=
###< doctrine/doctrine-bundle ###

###> nelmio/cors-bundle ###
# define the urls where cors is allowed
CORS_ALLOW_ORIGIN='^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$'
###< nelmio/cors-bundle ###

###> symfony/google-mailer ###
# Gmail SHOULD NOT be used on production, use it in development only.
# MAILER_DSN=gmail://USERNAME:PASSWORD@default
###< symfony/google-mailer ###

###> API routes to read ###
#  for each of them define a parameter in services.yml
URL_CUSTOMER_API_IDS=https://miacargo.do/storage/default/customers_ids.json
URL_CUSTOMER_API=https://miacargo.do/storage/default/customers.json
URL_PRODUCT_API=https://miacargo.do/storage/default/products.json
###< rutas API externa ###

# DOMINIO DE LA APLICACION SITE_URL=https://admin.bymiashop.com
SITE_URL=

# DOMINIO DEL FRONT FRONT_URL=https://bymiashop.com
FRONT_URL=
###> lexik/jwt-authentication-bundle ###
JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=fe399e487f4727f174cf065de52b55e0
###< lexik/jwt-authentication-bundle ###

###> symfony/amazon-mailer ###
# MAILER_DSN=ses://ACCESS_KEY:SECRET_KEY@default?region=eu-west-1
# MAILER_DSN=ses+smtp://ACCESS_KEY:SECRET_KEY@default?region=eu-west-1
###< symfony/amazon-mailer ###
