<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Si el archivo o directorio solicitado no existe físicamente
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Redirige todas las solicitudes a index.php
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>
