<div class="card">
	<div class="row" class="position-relative">
		<span class="position-absolute btn-close"></span>
		{# Atributo #}
		<div class="col-md-5 col-sm-12">
			<div class="mb-3">
				<label class="form-label" data-key="t-especifications">Nombre</label>
				<input type="text" id="input__property_text_id" class="form-control" name="property">
			</div>
		</div>

		{# value #}
		<div class="col-md-5 col-sm-12">
			<div class="mb-3">
				<label class="form-label">Valor</label>
				<input type="text" id="input__value_text_id" class="form-control" name="product_specification[text]">
				<input type="color" id="input__value_color_id" name="product_specification[color]" style="max-width: 100%;" class="form-control form-control-color">
				<input type="file" id="input__value_imagen_id" name="product_specification[imagen]" class="form-control">
			</div>
		</div>
		<div class="col-md-2 col-sm-12">
			<button style="margin-top: 1.8rem;" id="btn__ok_property_id"  class="btn btn-outline-secondary">
				<i class="fa fa-check"></i>
			</button>
		</div>
	</div>
</div>
