<section>
	<button 
        type="button col-sm-12" 
        class="btn btn-outline-primary waves-effect w-100" 
        id="btn__create_specification_id">
		Crear Especificacion
	</button>
	{{ include('secure/crud_product/components/specification_form.twig') }}
	{{ include('secure/crud_product/components/specification_list.twig') }}
</section>
