<div class="row mt-6" style="font-size: large; margin: 1rem 0 .3rem 0;">
	<div class="col-5">Especificaciones</div>
	<div class="col-6">Tipo</div>
</div>

<section id="section__list_specifications_id">

</section>
{# {{ include('secure/crud_product/components/card_property.twig') }} #}
