<div class="col-sm-12">
	<div class="card">
		<div class="card-body">
			<div class="row">
				<div class="clo-5">Color</div>
				<div class="clo-7">
                    <span></span>
                    <div class="d-flex">
                        
                    </div>
                </div>
			</div>
		</div>
	</div>
</div>
