.image-cover-images {
  height: 60px;
  width: 60px;
  border: 2px solid darkgray;
}
.image-cover-images:hover {
  height: 250px;
  width: 250px;
  position: absolute;
  margin: -100px;
  border: 4px solid darkgray;
  z-index: 9999;
  background-color: #fff;
}
tr {
  vertical-align: middle;
}
tbody tr {
  height: 90px;
}
