{% extends 'home/index.html.twig' %}

{% block title %}Editar Cupón de Descuento{% endblock %}

{% block content %}
    <h1>Editar cupón de descuento</h1>
    {{ include('secure/crud_coupon_discount/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('#coupon_discount_value').prop('type','number')
        $('#cantidad').prop('disabled',true)
        $('#coupon_discount_nro').prop('disabled',true)

    </script>
{% endblock %}


