<form method="post" action="{{ path('secure_cover_image_delete', {'id': cover_image.id}) }}" onsubmit="return confirm('Está usted seguro que desea eliminar este elemento?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cover_image.id) }}">
    <button class="btn btn-danger m-1">Eliminnar</button>
</form>
