<form method="post" action="{{ path('secure_crud_tag_delete', {'id': tag.id}) }}" onsubmit="return confirm('Está usted seguro que desea eliminar este elemento?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tag.id) }}">
    <button style="width: 80px" class="btn btn-danger m-1">Borrar</button>
</form>
