<form method="post" action="{{ path('secure_configuration_delete', {'id': configuration.id}) }}" onsubmit="return confirm('Está usted seguro que desea eliminar este elemento?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ configuration.id) }}">
    <button class="btn btn-danger m-1">Eliminar</button>
</form>
