{% extends 'home/index.html.twig' %}

{% block title %}Editar Configuración{% endblock %}

{% block content %}
    <h1>Editar Configuración</h1>

    {{ include('secure/configuration/_form.html.twig', {'button_label': 'Guardar'}) }}

    <div class="d-inline-flex">

        {{ include('secure/configuration/_delete_form.html.twig') }}

    </div>

{% endblock %}
