{{ form_start(form) }}
    {{ form_widget(form) }}
        <button class="btn btn-primary">Guardar</button>
        <a class="btn btn-secondary" href="{{ path('secure_crud_brand_index') }}">Regresar</a>
{{ form_end(form) }}
