{% extends 'home/index.html.twig' %}

{% block title %}Nueva marca{% endblock %}

{% block content %}
    <h1>Crear nueva marca</h1>
    {{ include('secure/crud_brand/_form.html.twig') }}
{% endblock %}
