<form method="post" action="{{ path('secure_crud_subcategory_delete', {'id': subcategory.id}) }}" onsubmit="return confirm('Está usted seguro que desea eliminar este elemento?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ subcategory.id) }}">
    <button class="btn btn-danger m-1">Borrar</button>
</form>
