{% extends 'home/index.html.twig' %}

{% block title %}Editar subcatagoría{% endblock %}

{% block content %}
    <h1>Editar Subcategoría</h1>
    {{ include('secure/crud_subcategory/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
