{% extends 'home/index.html.twig' %}

{% block title %}Nueva subcategoría{% endblock %}

{% block content %}
    <h1>Crear nueva subcategoría</h1>
    {{ include('secure/crud_subcategory/_form.html.twig') }}
{% endblock %}
