<form method="post" action="{{ path('secure_crud_customer_delete', {'id': customer.id}) }}" onsubmit="return confirm('Está usted seguro que desea eliminar este elemento?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ customer.id) }}">
    <button style="width: 80px" class="btn btn-danger m-1">Eliminar</button>
</form>
