{% extends 'home/index.html.twig' %}

{% block title %}Editar cliente{% endblock %}

{% block content %}
    <h1>Editar cliente</h1>
    {{ include('secure/crud_customer/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
