{# {% extends 'email/base.email.html.twig' %} #}

{# {% block title %} #}
{# Validación de cuenta #}
{# {% endblock %} #}

{# {% block body %} #}
	<div>
	Hola,{{parameters.name}}
!
		Bienvenido inicia sesion en:
</div>
	<div><a href="{{parameters.url_back_login}}" title="Login"> Repuestos Celu</a>
</div>
{% if parameters.password is defined %}
	<div>
		<b>usuario:</b>
		{{parameters.email}}<br>
		<b>contraseña:</b>
		{{parameters.password}}
	</div>
{% endif %}
{# {% endblock %} #}
